:root {
    --primary-color: #999B84;
    --secondary-color: #F4EEED;
    --tertiary-color: #EFD9D1;
    --other-color: #DDB7AB;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* HEADER / NAV BAR STYLES START */

header {
    padding: 20px 35px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
}

header h1 {
    font-family: cursive;
    font-weight: bold;
    margin:  0;
    font-size: 36px;
    color: var(--secondary-color);
}

header a {
    text-decoration: none;
    color: var(--secondary-color);
}

header nav {
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
}

/* HEADER / NAVBAR STYLES END */

.about-me {
    margin: 10px;
}

.section-title {
    margin: 10px;
    font-family: cursive;
}

p {
    max-width: 800px;
    line-height: 2vw;
    float: right;
    font-size: 20px;
}

.lara-img {
    float: left;
}


/* FOOTER STYLES START */

footer {
    padding: 20px 35px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

/* FOOTER STYLES END */


/* IMG STYLING */

img {
    max-width: 300px;
}

/* ABOUT ME SECTION */

